html, body {
    display: flex;
    flex-direction: column;
    background-color: #dee87a;
    height: 100dvh;
    margin-bottom: -15px;
}

@font-face {
    font-family: "BBfont";
    src: url("./fonts/heartBB.otf");
}

.breakingBadFont {
    font-family: "BBfont";
    font-size: 50px;
}

#navList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#bottomHalf {
    display: flex;
    margin-right: -10px;
    justify-content: center;
    text-align: center;
    flex-grow: 1;

}

#difficultyDiv {
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 75%;
    gap: 10px;


}

#selection {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-items: center;
    text-align: center;
    height: 50%;
    
}

#sidebar {
    background-color: #497440;
    border: solid;
    margin-left: -10px;
    width: 15%;
}

#main {
    width: 100%;
    border: solid;
    padding: 20px;
}

#header {
    display: flex;
    padding: 20px;
    background-color: #497440;
    width: 100%;
    margin-top: -10px;
    margin-left: -10px;
    border: solid;
}

.breakingBadBox {
    padding: 5px;
    background: linear-gradient(to bottom right, #0e4b14, #257437);
    color: white;
    font-family: 'Arial', sans-serif;
    border: 2px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-weight: 600;
}

.breakingBadBox:hover {
    background: linear-gradient(to bottom right, #44854a, #1e5f2d);
    cursor: pointer;
}

.breakingBadBox:disabled {
    cursor: not-allowed;
    opacity: .6;
}

#startButton {
    font-size: 20px;
}